{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/teacher_dashboard.css' %}">
    <title>Create Comment</title>
</head>
<body>
    <header>
        <h1>Create a New Comment</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            <textarea name="content" rows="5" cols="40" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
